<!--  SERVICE PARTNER START  -->
<section id="service-head" class=" bg-feature" style="background-color: {{ value.background_color }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 m-auto">
                <div class="section-heading text-white">
                    <h4 class="section-title">{{ value.title }}</h4>
                    <p>{{ value.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE PARTNER END  -->