{% load wagtailimages_tags %}


{% image value.background_image fill-1920x1280 as background_img %}
<div class="banner-area banner-3"
     style="background: url('{{ background_img.url }}');background-repeat: no-repeat;background-size: cover">
    <div class="overlay dark-overlay"></div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                        <div class="banner-content content-padding">
                            <h5 class="subtitle">{{ value.title1 }}</h5>
                            <h1 class="banner-title">{{ value.title2 }}</h1>
                            <p>{{ value.title3 }}</p>
                            <a href="{{ value.button.href }}"
                               {% if value.button.external_link %}target="_blank" {% endif %}
                               class="btn btn-white btn-circled">{{ value.button.text }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>